@media screen and (min-width: 1024px) {
    .main__content {
        display: flex;
        flex-direction: row;
    }

    .container__navigation__navigation {
        width: 30%;
        justify-content: space-between;
        padding: 0 4%;
        margin-left: 4%;
    }

    .link__navigation {
        font-size: 1.3rem;
    }


    .first__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border: 1px solid green ;
    }

    .first__content__image {
        flex-direction: column;
        margin: 0 3em;
    }

    .first__content__image  img {
        width: 20em;
        height: 20em;
    }
    
    .first__content__title, .first__content__text {
        width: 440px;   
    }

    .first__content__title {
        padding: 0;
    }

    .first__content__title h1, strong {
        font-size: 1.3rem;
        padding: 0;
    }

    .first__content__text p {
        font-size: 1rem;
        text-align: start;
        padding: 0;
    }

    .secondary__content__btns {
        border: 1px solid red;
        align-items: center;
        margin: 0 30em 0 0;
        width: 320px;
    }
}